
.deliveryNav{
    display: flex;
    background-color: rgb(112, 105, 97);
    color:rgb(255, 255, 255);
}
.hSpan{
    color: rgba(223, 14, 14, 0.945);
}
.heading{
    margin-top: 10px;
    margin-left: 80px;

}

.navIcons{
    margin-left: 100px;
    margin-top: 20px;
    display: flex;
}

.navicon{
    cursor: pointer;
    background-color: rgba(122, 122, 122, 0.47);

    color: rgb(254, 254, 254);
    height: 50px;
    padding: 10px;
    margin: 10px;
    width: 100px;
    border-radius: 10px;
}
.navicon:hover{
    color: rgb(250, 250, 250);
    background-color:crimson;
    transition: all 500ms ease;

}

.signout{
    cursor: pointer;
    background-color: rgb(155, 9, 9);
    color: rgb(254, 254, 254);
    height: 50px;
    padding: 10px;
    margin: 10px;
    width: 100px;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 50px;
 
}


.imgn{
    height: 80px;
    width: 120px;
    margin-left: 20px;
    margin-top: 10px;
}